@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}
.topbar{
    color: rgb(228, 220, 207);
}

.navBackground{
    background-color: rgb(87, 111, 114);
}
.navCart{
    background-color: darkgray;
    color: white;
}

.cardDets{
    width: 18 rem;
}
.cardItem{
    background-color: rgb(228, 220, 207);
}

.iconClr{
    color: rgb(228, 220, 207);
    background-color: transparent;
}

.navbar-nav{
    overflow: visible;
}

.loginContainer{
    max-width: 600px;
    min-height: calc(100vh - 350px);
    border-radius: 15%;
    border-style:solid;
    box-shadow: 5px 5px rgb(240, 235, 227);

    border-width: 2px;
    border-color: rgb(87, 111, 114);
    align-content: center;
}
.signUpContainer{
    max-width: 600px;
    min-height: calc(100vh - 250px);
    border-radius: 15%;
    border-style:solid;
    box-shadow: 5px 5px rgb(240, 235, 227);
    background-color: rgb(255, 255, 255);
    margin-top: 5em;
    border-width: 2px;
    border-color: rgb(87, 111, 114);
    align-content: center;
    overflow: visible;
}

.submitBtn{
    background-color: rgb(87, 111, 114);
    color: rgb(240, 235, 227);
    margin-top: 10px;
    margin-left: 15em;

}

.loginScreen{
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
}