
.topbar{
    color: white;
}

.navBackground{
    background-color: darkgray;
}
.navCart{
    background-color: darkgray;
    color: white;
}

.cardDets{
    width: 18 rem;
}
.cardItem{
    display: inline-block;
    background-color: white;
}

.navbar-nav{
    overflow: visible;
}